<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

 <div class="header">
    <img width="300" alt="Oral logo" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/59203979_1382298631927486_7690036839230472192_n.jpg?_nc_cat=103&_nc_ht=scontent-bog1-1.xx&oh=9fffe1b8701790e3907eaceaf9f3807d&oe=5D3385B2"><h1>Bienvenidos</h1>
    <div class="text-right">
          <span class="fa-stack">
                
                <i class="fa fa-instagram fa-stack-1x"></i>
              </span>
              <small><small>@oralodontologiaespecializada</small></small><br>

          <span class="fa-stack">
             
             <i class="fa fa-facebook fa-stack-1x"></i>
             </span>
             <small><small>/oralodontologiaespecializada</small></small><br>
    </div>
    
 </div>
<body>
<div class="container">
    <h2>Agenda</h2>
    <div class="table-hover">          
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miercoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>7:00</td>
          <td>Disponible</td>
          <td>Disponible</td>
          <td>Disponible</td>
          <td>Disponible</td>
          <td>Disponible</td>
        </tr>
        <tr>
            <td>8:00</td>
        </tr>
        <tr>
            <td>9:00</td>
        </tr>
        <tr>
            <td>10:00</td>
        </tr>
        <tr>
            <td>11:00</td>
        </tr>
        <tr>
            <td>12:00</td>
        </tr>
        <tr>
            <td>13:00</td>
        </tr>
        <tr>
            <td>14:00</td>
        </tr>
        <tr>
            <td>15:00</td>
        </tr>
        <tr>
            <td>16:00</td>
        </tr>
        <tr>
            <td>17:00</td>
        </tr>
        <tr>
            <td>18:00</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  
  </body>
  <hr/>
<footer>
    <div class="text-center">
       <p></p>
       <a href="https://imgur.com/ySGFc9T"><img width="200" src="https://i.imgur.com/ySGFc9T.png" title="source: imgur.com" /></a>
    </div>      
  </footer>